.section-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.input-section {
  grid-column: 1 2;
  border: solid black 1px;
}
.display-section {
  grid-column: 2 4;
  border: solid black 1px;
}
.input-container {
  display: flex;
  flex-direction: column;
}
